DATABASE_URL=postgresql://postgres.omciisubblrjaaronmop:[YOUR-PASSWORD]@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres
SECRET_KEY=change-me
GEMINI_API_KEY=
DEBUG=True

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=r26_se_010
